.hidedock.container {
    height: 8vh;
    width: auto;
    /* background-color: rgba(0,0,0,0.1); */
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0.5%;
    left: 0.75%;
    margin: auto;
    z-index: 1000;
  }
  
  .hidedock.node {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #004a22;
    position: relative;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .hidedock.node:hover::before {
    content: attr(data-tooltip);
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    height: auto;
    width: auto;
    padding: 5px;
    margin: 6px;
    left: -20%;
    bottom: 44px;
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    white-space: nowrap;
  }

  .hidedock.separator {
    height: 40px;
    width: 15px;
    border-radius: 50%;
    background-color: transports;
    position: relative;
    margin: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .icon {
    color: #fff;
    transform: scale(1.2);
  }

  .separator {
    color: #004a22;
    transform: scale(0.9);
  }

  .hidedock.node.save:hover {
    background-color: whitesmoke;
    color: #004a22;
  }

  .hidedock.node.save:hover #saveIcon {
    color: #004a22;
  }

  .hidedock.node.save:active,
  .hidedock.node.save:focus,
  .hidedock.node.save:visited {
    background-color: #004a22;
    border: 3px solid whitesmoke;
  }

  .hidedock.node.save:active #saveIcon,
  .hidedock.node.save:focus #saveIcon,
  .hidedock.node.save:visited #saveIcon {
    color: #fff;
  }