/* Es Lint */

.questionContainer {
  grid-row: 1 / 11;
  grid-column: 1 / 51;
  border-top: 3px solid whitesmoke;
  border-bottom: 3px solid whitesmoke;
  overflow: scroll;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #004a22;
}

.question {
  font-size: 3em;
  font-family: 'Futura';
  margin: 0 24px;
  text-align: center;
}

.optionContainer {
  display: grid;
  height: auto;
  width: 75%;
  grid-template-rows: 1fr 1fr;
  row-gap: 12px;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
  margin: 24px;
}

.optionOne {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  background-color: whitesmoke;
  margin: 8px 12px 8px 12px;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  color: #000;
}

/* .option:hover {
    background-color: green;
    color: #fff;
    cursor: pointer;
    box-shadow: 5px 5px 5px #fff;
} */

.optionTwo {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  background-color: whitesmoke;
  margin: 8px 12px 8px 12px;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  color: #000;
}

.optionThree {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
  background-color: whitesmoke;
  margin: 8px 12px 8px 12px;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  color: #000;
}

.optionFour {
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  background-color: whitesmoke;
  margin: 8px 12px 8px 12px;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
  font-size: 0.8em;
  color: #000;
}

.checkAnswerButton {
  background-color: whitesmoke;
  color: #004a22;
  font-family: 'Futura';
  border: 1px solid #004a22;
  margin: 0 6px 0 6px;
}

.failingSpan {
  font-size: 0.8em;
}