@media only screen and (min-width: 481px) and (max-width: 2000px) { 

/* Register */
#registerScreen {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  height: auto;
  width: 388px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
text-align: start;
  padding: 16px 20px; 
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  z-index: 1;
}

.formInput.register::placeholder {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  color: #004a22;
}

.submit {
  font-family: 'Futura';
  font-weight: 200;
  padding: 8px 10px;
  background-color: #004a22;
  color: whitesmoke;
  outline: none;
  border: none;
  box-sizing: border-box;
}


.registerButton {
  background-color:#004a22;
  color: whitesmoke;
  font-family: 'Futura';
  border: 1px solid #004a22;
  padding: 2px 3px;
  border-radius: 5px;
}

}

@media only screen and (min-width: 0px) and (max-width: 480px) { 
  #registerScreen {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .registerContainer {
    height: auto;
    width: 95%;
    padding: 16px 20px; 
    border-radius: 5px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .registerButton {
    background-color:#004a22;
    color: whitesmoke;
    font-family: 'Futura';
    border: 1px solid #004a22;
    padding: 2px 3px;
    border-radius: 5px;
  }

  .formInput.register::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: #004a22;
  }
}