@media only screen and (min-width: 481px) and (max-width: 2000px) { 
/* Login */
#login-screen {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  height: 388px;
  width: 388px;
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-items: center;
text-align: start;
  padding: 16px 20px; 
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  z-index: 1;
}

.submit {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  padding: 8px 10px;
  background-color: #004a22;
  color: #e2dfcf;
  outline: none;
  border: none;
  box-sizing: border-box;
}

/* Fourth Button */

#button-4 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-4 a {
  position: relative;
  transition: all .5s linear;
}

#underline {
  width: 100%;
  height: 1.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  background: #004a22;
  position: absolute;
  transition: all .5s linear;
  bottom: 0;
}

#button-4:hover #underline {
  left: 0;
}

#loginLogo {
  filter: brightness(0%) opacity(2.5%);
}


.loginButton {
  background-color:#004a22;
  color: whitesmoke;
  font-family: 'Futura';
  border: 1px solid #004a22;
  padding: 2px 3px;
  border-radius: 5px;
}

}

@media only screen and (min-width: 0px) and (max-width: 480px) { 
  #login-screen {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loginContainer {
    margin-top: 24px;
    height: auto;
    width: 95%;
    padding: 16px 20px; 
    border-radius: 5px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .loginButton {
    background-color:#004a22;
    color: whitesmoke;
    font-family: 'Futura';
    border: 1px solid #004a22;
    padding: 2px 3px;
    border-radius: 5px;
  }
  
}