/* Full Width */
.nav.central {
  height: 10vh;
  width: 100%;
  justify-self: first baseline; 
  display: flex;
  justify-content: space-between;
  padding: 0 36px;
}

.nav.mobile {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

.burger {
  margin: 0;
  padding: 2px 6px;
  border-radius: 5px;
  background-color: #004a22;
  color:whitesmoke;
  transform: scale(1.5);
}

#brand {
  height: 30px;
  width: 30px;
  padding: 4px;
  border-radius: 50%;
  background-color: #004a22;
}

#brand:hover {
  padding: 8px;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

nav .box {
  height: 8vh;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box.centre {
  height: 8vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#nava {
  font-family: 'futura', sans-serif;
  font-weight: 500;
  color: #004a22;
  opacity: 1;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#nava a {
  position: relative;
  transition: all 1s linear;
}

#underline {
  width: 100%;
  height: 1.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  background: #004a22;
  position: absolute;
  transition: all 1s linear;
  bottom: 0;
}

#nava:hover #underline {
  left: 0px;
}

/* Mobile View */
.menu {
  opacity: 0;
  height: 0;
  width: 100%;
  color: whitesmoke;
  transition: all 1s ease-in-out;
}

.menu.active {
  opacity: 1;
  height: 5vh;
  width: 100%;
  background-color: #004a22;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.navMenu,
.navDock {
  display: none;
}

.navMenu.active {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.navMenu li {
  list-style: none;
}

.listItem a {
  color: whitesmoke;
}

.navDock.active {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow:scroll;
}

.navDock.active li {
  padding: 6px 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}


.mobiledock.row {
  height: 10vh;
  width: 100%; 
  background-color: whitesmoke;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.row.values {
  height: 10vh;
  width: 100%; 
  background-color: whitesmoke;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px 0 6px;
}


.dockElement {
  width: auto;
}

.dockElement.values {
  margin: 2px;
  border-radius: 50%;
  background-color: #004a22; 
}

.dockElement.values h1 {
  color: whitesmoke;
}


.mobiledock.row h1 {
  color:#004a22; 
}

