#page-loading {
  margin: 100px;
}

.rect {
  height: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: green;
  margin: 12px 0px 0px 0px;
  box-shadow: 26px 26px 51px 0 rgba(237, 237, 237, 0.8) inset, -26px -26px 51px 0 rgba(237, 237, 237, 0.8) inset;
  animation: 1s linear .1s infinite alternate animating-multiple-properties;
}

@keyframes animating-multiple-properties {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


