/* Footer */
.footer-main {
  height: 25vh;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      background-color: transparent;
      border: 0.5px solid #004a22;
      background-color: #004a22;
      padding: 24px 0 0 0;
  }
  
  .footerColumn {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  }
  
  .footer-header {
  font-weight: 700;
     color: whitesmoke;
     width: auto;
  }
  
  .copyright {
  display: block;
      background-color: transparent;
      color: whitesmoke;
  }
  
  .copyright p {
    color: whitesmoke;
  }
  .copyright.logoHeader {
  filter: brightness(50%);
  }

#fava {
  color: whitesmoke;
  opacity: 1;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: auto;
  padding: 0;
  font-weight: 200;
}

#fava a {
  position: relative;
  transition: all 1s linear;
}

#funderline {
  width: 100%;
  height: 1.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -220px;
  background-color: whitesmoke;
  position: absolute;
  transition: all 1s linear;
  bottom: 0;
}

#fava:hover #funderline {
  left: 0px;
}

